<% if flash.present? %>
  <div class="fixed pin-t pin-x">
    <% flash.each do |msg_type, message| %>
      <div class="p-3 text-white <%= alert_class_for(msg_type) %>">
        <div class="container">
          <button class="text-white py-1 px-2 mr-2 inline-flex items-center justify-center" data-dismiss="alert"><span>×</span></button>
          <%= message %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
