<% content_for :js do %>
	<% if @state %>
		<script>
			window.__INITIAL_STATE__ = <%= raw @state.to_json %>;
		</script>
	<% end %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="app"></div>
